.h{
	height: 100vh;
	width: 100vh;
	transform: rotateX(180deg);
	transition-duration: 2.5s;
	overflow: hidden !important;
	margin-top: -20px;
  }

body{
  display: flex;
  justify-content: center;
  background : black;
}

img{
	height: 75px;
	width: 75px;
}

.white,.whites,.blacks,.black
{
	transform: rotate(180deg);
}

.App00,.App04,.App02,.App06,.App13,.App11,.App15,.App17,.App33,.App31,.App35,.App37,.App20,.App24,.App22,.App26,
.App40,.App44,.App42,.App46,.App53,.App51,.App55,.App57,.App73,.App71,.App75,.App77,.App60,.App64,.App62,.App66
{
	float: left; width: 75px;height: 75px; background-size: contain;background-image: url("./chess/board.png");z-index: 2;
}

.App03,.App01,.App05,.App07,.App10,.App14,.App12,.App16,.App23,.App21,.App25,.App27,.App30,.App34,.App32,.App36,
.App43,.App41,.App45,.App47,.App50,.App54,.App52,.App56,.App63,.App61,.App65,.App67,.App70,.App74,.App72,.App76
{
	float: left; width: 75px;height: 75px; background-size: contain; background-image: url("./chess/board2.jpg");z-index: 2;
}

.whitep,.blackp{border: solid 2px black;}

.sacri,.sacri2{padding-left: 150px;display: none;}

@media only screen and (max-width: 1000px)
{
	.App00,.App04,.App02,.App06,.App13,.App11,.App15,.App17,.App33,.App31,.App35,.App37,.App20,.App24,.App22,.App26,
.App40,.App44,.App42,.App46,.App53,.App51,.App55,.App57,.App73,.App71,.App75,.App77,.App60,.App64,.App62,.App66,
.App03,.App01,.App05,.App07,.App10,.App14,.App12,.App16,.App23,.App21,.App25,.App27,.App30,.App34,.App32,.App36,
.App43,.App41,.App45,.App47,.App50,.App54,.App52,.App56,.App63,.App61,.App65,.App67,.App70,.App74,.App72,.App76

   {
		height: 12vw;
		width: 12vw;
	}

	img{
		height: 12vw;
		width: 12vw;
	}

	.h{
		padding-left: 0;
		width: 96vw;
		height: 96vw;
	}
	
}

@media only screen and (max-width: 600px)
{

.h
{
	margin-top: max(calc((96vh - 100vw)/2),0);
}